In [13]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

import pandas as pd

In [16]:
df = pd.read_csv('/Users/tranvietanh/PycharmProjects/WebSite/model/data_collaborative.csv', sep=';')

In [17]:
df

  Unnamed: 0  meet  zalo  tiki  facebook  viblo  youtube  momo  twitter
0        Nam   2.0   5.0   NaN       2.0    3.0      NaN   5.0      NaN
1        Anh   3.0   5.0   1.0       3.0    5.0      NaN   2.0      NaN
2        Hoa   4.0   NaN   1.0       4.0    4.0      3.0   3.0      3.0
3        Mai   1.0   1.0   NaN       NaN    2.0      NaN   3.0      NaN
4        Bao   NaN   NaN   5.0       3.0    3.0      4.0   2.0      5.0
5        Nga   4.0   NaN   2.0       2.0    NaN      4.0   2.0      3.0
6       Binh   5.0   2.0   NaN       NaN    1.0      5.0   5.0      3.0
7       Phuc   3.0   3.0   NaN       4.0    4.0      NaN   3.0      2.0
8       Long   NaN   4.0   2.0       3.0    5.0      1.0   5.0      NaN
9       Hong   5.0   NaN   2.0       1.0    3.0      NaN   NaN      4.0

In [23]:
item = list(df.columns)
user = list(df['Unnamed: 0'])
data_matrix = df[item[1:]].fillna(0).values
Sim = cosine_similarity(data_matrix,data_matrix)
Sim = np.round(Sim, decimals = 2)
Sim

array([[1.  , 0.89, 0.6 , 0.88, 0.33, 0.37, 0.62, 0.86, 0.9 , 0.35],
       [0.89, 1.  , 0.68, 0.73, 0.41, 0.39, 0.5 , 0.91, 0.86, 0.55],
       [0.6 , 0.68, 1.  , 0.62, 0.76, 0.84, 0.77, 0.85, 0.67, 0.77],
       [0.88, 0.73, 0.62, 1.  , 0.33, 0.35, 0.66, 0.75, 0.84, 0.38],
       [0.33, 0.41, 0.76, 0.33, 1.  , 0.75, 0.54, 0.54, 0.57, 0.6 ],
       [0.37, 0.39, 0.84, 0.35, 0.75, 1.  , 0.86, 0.55, 0.37, 0.7 ],
       [0.62, 0.5 , 0.77, 0.66, 0.54, 0.86, 1.  , 0.61, 0.51, 0.57],
       [0.86, 0.91, 0.85, 0.75, 0.54, 0.55, 0.61, 1.  , 0.83, 0.66],
       [0.9 , 0.86, 0.67, 0.84, 0.57, 0.37, 0.51, 0.83, 1.  , 0.33],
       [0.35, 0.55, 0.77, 0.38, 0.6 , 0.7 , 0.57, 0.66, 0.33, 1.  ]])

In [24]:
pd.DataFrame(Sim, columns=user, index=user)

       Nam   Anh   Hoa   Mai   Bao   Nga  Binh  Phuc  Long  Hong
Nam   1.00  0.89  0.60  0.88  0.33  0.37  0.62  0.86  0.90  0.35
Anh   0.89  1.00  0.68  0.73  0.41  0.39  0.50  0.91  0.86  0.55
Hoa   0.60  0.68  1.00  0.62  0.76  0.84  0.77  0.85  0.67  0.77
Mai   0.88  0.73  0.62  1.00  0.33  0.35  0.66  0.75  0.84  0.38
Bao   0.33  0.41  0.76  0.33  1.00  0.75  0.54  0.54  0.57  0.60
Nga   0.37  0.39  0.84  0.35  0.75  1.00  0.86  0.55  0.37  0.70
Binh  0.62  0.50  0.77  0.66  0.54  0.86  1.00  0.61  0.51  0.57
Phuc  0.86  0.91  0.85  0.75  0.54  0.55  0.61  1.00  0.83  0.66
Long  0.90  0.86  0.67  0.84  0.57  0.37  0.51  0.83  1.00  0.33
Hong  0.35  0.55  0.77  0.38  0.60  0.70  0.57  0.66  0.33  1.00